<div [ngSwitch]="line.commandType">

  <span *ngSwitchCase="'engine'" class="text-secondary"><samp>{{line.text}}</samp></span>

  <span *ngSwitchCase="'parserError'" class="text-warning font-weight-bold"><samp>{{line.text}}</samp></span>

  <if-user-input *ngSwitchCase="'userInput'" [text]="line.text" [command]="line.data"></if-user-input>

  <h1 *ngSwitchCase="'header'" class="lead">{{line.text}}<small class="text-muted ml-2" *ngIf="line.data">{{line.data}}</small></h1>

  <span *ngSwitchCase="'subtitle'" class="text-info">{{line.text}}</span>

  <div *ngSwitchCase="'divider'" class="my-3"></div>

  <p *ngSwitchCase="'narrative'">{{line.text}}</p>
  <p *ngSwitchCase="'roomName'"  class="text my-4"><strong>{{line.text}}</strong></p>

  <span *ngSwitchDefault><span class="badge badge-danger">{{line.commandType}}</span>{{line.text}}</span>

</div>
