<div [ngSwitch]="node.nodeType">

  <if-story-info-editor *ngSwitchCase="'storyInfo'" [story]="story"></if-story-info-editor>
  <if-room-editor *ngSwitchCase="'room'" [story]="story" [room]="node"></if-room-editor>
  <if-actor-editor *ngSwitchCase="'actor'" [story]="story" [actor]="node"></if-actor-editor>
  <if-entity-editor *ngSwitchCase="'entity'" [story]="story" [entity]="node"></if-entity-editor>
  <if-strings-list *ngSwitchCase="'strings'" [story]="story"></if-strings-list>
  <if-json-export *ngSwitchCase="'json'"></if-json-export>
  <if-verb-editor *ngSwitchCase="'verbHandler'" [verb]="node" [entity]="node.parent"></if-verb-editor>

  <if-warning *ngSwitchDefault>Node type '{{node.nodeType}}' does not have an editor component registered for it.</if-warning>

</div>
