<div class="card white-text blue-grey darken-2 hoverable">
  <div class="card-content">
    <div class="card-title">
      <h2>{{entity.name}}</h2>
    </div>

    <div class="card-tabs" style="margin-bottom: 1rem;">
      <ul class="tabs tabs-fixed-width tabs-transparent">
        <li class="tab"><a (click)="selectTab(0)" [ngClass]="{active: selectedTab === 0}">Basic</a></li>
        <li class="tab"><a (click)="selectTab(1)" [ngClass]="{active: selectedTab === 1}">Attributes</a></li>
        <li class="tab"><a (click)="selectTab(2)" [ngClass]="{active: selectedTab === 2}">Contents</a></li>
        <li class="tab"><a (click)="selectTab(3)" [ngClass]="{active: selectedTab === 3}">Verbs</a></li>
        <li class="tab"><a (click)="selectTab(4)" [ngClass]="{active: selectedTab === 4}">Aliases</a></li>
        <li class="tab"><a (click)="selectTab(5)" [ngClass]="{active: selectedTab === 5}">Events</a></li>
      </ul>
    </div>

    <!-- Basic Information -->
    <div class="row" *ngIf="selectedTab === 0">
      <div class="input-field col s6">
        <input id="key" [(ngModel)]="entity.key" type="text" required class="validate" data-length="64">
        <label for="key" class="active">Key</label>
      </div>
      <div class="input-field col s6">
        <input id="name" [(ngModel)]="entity.name" type="text" required class="validate" data-length="128">
        <label for="name" class="active">Entity Name</label>
      </div>
    </div>

    <!-- Collections go here -->
    <if-attributes-list [entity]="entity" *ngIf="selectedTab === 1"></if-attributes-list>
    <if-contents-list [entity]="entity" *ngIf="selectedTab === 2"></if-contents-list>
    <if-verbs-list [entity]="entity" *ngIf="selectedTab === 3"></if-verbs-list>
    <if-aliases-list [entity]="entity" *ngIf="selectedTab === 4"></if-aliases-list>
    <if-events-list [entity]="entity" *ngIf="selectedTab === 5"></if-events-list>

  </div>
  <div class="card-action blue-grey darken-4">
    <a class="waves-effect waves-light btn" (click)="addObject()">
      Add Object
    </a>
  </div>
</div>
