<div class="card-title">
  <h2>{{entity.name}}</h2>
</div>


<!-- Basic Information -->
<div *ngIf="selectedTab === 'info'">
  <div class="row">
    <div class="input-field col s6">
      <input id="key" [(ngModel)]="entity.key" type="text" required class="validate" data-length="64">
      <label for="key" class="active">Key</label>
    </div>
    <div class="input-field col s6">
      <input id="name" [(ngModel)]="entity.name" type="text" required class="validate" data-length="128">
      <label for="name" class="active">Entity Name</label>
    </div>
  </div>
  <div class="row">
    <div class=" col s12">
      <mat-checkbox [(ngModel)]="entity.describeWithRoom">Describe with Room</mat-checkbox>
    </div>
  </div>
</div>

<!-- Collections go here -->
<if-attributes-list [entity]="entity"></if-attributes-list>
<if-contents-list [entity]="entity"></if-contents-list>
<if-verbs-list [entity]="entity"></if-verbs-list>
<if-aliases-list [entity]="entity"></if-aliases-list>
<if-events-list [entity]="entity"></if-events-list>

