<div>
  <p class="my-2 text-secondary font-weight-bold">
    &gt;&nbsp;

    <kbd>{{text}}</kbd>

    <!-- <a class="btn btn-sm btn-link small tooltipped collapsible"
       *ngIf="showDebugAids"
       href="#sentence_debug_{{id}}"
       data-toggle="collapse"
       data-tooltip="Show diagnostic information about how this was interpreted">
      Details
    </a> -->
  </p>

  <mat-expansion-panel *ngIf="showDebugAids">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Details
      </mat-panel-title>
      <mat-panel-description>
        <span>Show diagnostic information about how this was interpreted</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <if-sentence-debug-card [command]="command"></if-sentence-debug-card>

  </mat-expansion-panel>

</div>
