image: node:latest

before_script:
   - npm i --depth=0

cache:
  paths:
    - node_modules/

deploy_production:
  stage: deploy
  environment: Production
  only:
    - master
  script:
    - rm ./package-lock.json
    - npm run-script lint
    - npm run-script build
  cache:
    paths:
    - node_modules/
