image: trion/ng-cli-karma

  cache:
  paths:
  - node_modules/

  deploy_production:
  stage: deploy
  environment: production
  only:
  - tags
  script:
  - rm ./package-lock.json
  - npm install
  - ./node_modules/@angular/cli/bin/ng test --progress false --single-run=true  --watch=false
  - ./node_modules/@angular/cli/bin/ng e2e --progress false --watch=false
  - ./node_modules/@angular/cli/bin/ng build --progress false --prod --base-href ngApps/angularIF
  #    - ./node_modules/.bin/surge -p dist/ --domain plus1.surge.sh
