<div *ngFor="let item of responseItems">
    <div [ngSwitch]="getItemType(item)">

        <blockquote *ngSwitchCase="'story'">
            <if-md [text]="item.value"></if-md>
        </blockquote>
        <blockquote *ngSwitchCase="'string'">
            <if-md [text]="item"></if-md>
        </blockquote>

        <div *ngSwitchCase="'invoke'"
             class="chip orange accent-2 tooltipped"
             data-tooltip="invoke a method">

            <i class="material-icons tiny" alt="Invoke">call_made</i>
            Call <code>{{item.value}}</code>

        </div>

        <if-warning *ngSwitchDefault>No handler for {{getItemType(item)}}.</if-warning>

    </div>
</div>
