<div class="card-title" style="margin-bottom: 1rem;">
  <h2>{{room.name}}</h2>
</div>

<!-- Basic Information -->
<div>
  <div class="row">
    <div class="input-field col s6">
      <input id="key" [(ngModel)]="room.key" type="text" required class="validate" data-length="64">
      <label for="key" class="active">Key</label>
    </div>
    <div class="input-field col s6">
      <input id="name" [(ngModel)]="room.name" type="text" required class="validate" data-length="128">
      <label for="name" class="active">Room Name</label>
    </div>
  </div>
</div>

<!-- Collections go here -->
<if-attributes-list [entity]="room"></if-attributes-list>
<if-contents-list [entity]="room"></if-contents-list>
<if-verbs-list [entity]="room"></if-verbs-list>
<if-navigation-list [room]="room"></if-navigation-list>
<if-aliases-list [entity]="room"></if-aliases-list>
<if-events-list [entity]="room"></if-events-list>

