<a class="waves-effect waves-light btn" (click)="addObject()" style="margin-right: 1rem;" *ngIf="selectedTab === 'objects'">
  Add Object
</a>
<a class="waves-effect waves-light btn" (click)="addVerb()" style="margin-right: 1rem;" *ngIf="selectedTab === 'verbs'">
  Add Verb
</a>
<a class="waves-effect waves-light btn" (click)="addAlias()" style="margin-right: 1rem;" *ngIf="selectedTab === 'aliases'">
  Add Alias
</a>
<a class="waves-effect waves-light btn" (click)="addAttribute()" style="margin-right: 1rem;" *ngIf="selectedTab === 'attributes'">
  Add Attributes
</a>
<a class="waves-effect waves-light btn" (click)="playStoryHere()" style="margin-right: 1rem;" *ngIf="entity && entity.nodeType === 'room'">
  Play Story Here
</a>
<a class="waves-effect waves-light btn warn-bg" (click)="delete()" style="margin-right: 1rem;" *ngIf="canDelete()">
  Delete
</a>
