<div class="card-title">
  <h2>{{actor.name}}</h2>
</div>

<!-- Basic Information -->
<div class="row" *ngIf="selectedTab === 'info'">
  <div class="input-field col s6">
    <input id="key" [(ngModel)]="actor.key" type="text" required class="validate" data-length="64">
    <label for="key" class="active">Key</label>
  </div>
  <div class="input-field col s6">
    <input id="name" [(ngModel)]="actor.name" type="text" required class="validate" data-length="128">
    <label for="name" class="active">Actor Name</label>
  </div>
</div>
<div class="row" *ngIf="selectedTab === 'info'">
  <div class="col s6">
    <mat-form-field>
      <mat-select [(ngModel)]="actor.startRoom" style="width: 100%;" placeholder="Start Room">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let key of roomKeys" [value]="key">{{key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col s3">
    <mat-checkbox [(ngModel)]="actor.describeWithRoom">Describe with Room</mat-checkbox>
  </div>
  <div class="col s3">
    <mat-checkbox [(ngModel)]="actor.isPlayer">Is Player</mat-checkbox>
  </div>

</div>

<!-- Collections go here -->
<if-attributes-list [entity]="actor"></if-attributes-list>
<if-contents-list [entity]="actor"></if-contents-list>
<if-verbs-list [entity]="actor"></if-verbs-list>
<if-aliases-list [entity]="actor"></if-aliases-list>
<if-events-list [entity]="actor"></if-events-list>

