<div class="card hoverable">
  <div class="card-content">
    <div class="card-title">
      <h2>{{actor.name}}</h2>
    </div>

    <div class="card-tabs" style="margin-bottom: 1rem;">
      <ul class="tabs tabs-fixed-width tabs-transparent">
        <li class="tab"><a (click)="selectTab('info')" [ngClass]="{active: selectedTab === 'basic'}">Basic</a></li>
        <li class="tab"><a (click)="selectTab('attributes')" [ngClass]="{active: selectedTab === 'attributes'}">Attributes</a></li>
        <li class="tab"><a (click)="selectTab('objects')" [ngClass]="{active: selectedTab === 'inventory'}">Inventory</a></li>
        <li class="tab"><a (click)="selectTab('verbs')" [ngClass]="{active: selectedTab === 'verbs'}">Verbs</a></li>
        <li class="tab"><a (click)="selectTab('aliases')" [ngClass]="{active: selectedTab === 'aliases'}">Aliases</a></li>
        <li class="tab"><a (click)="selectTab('events')" [ngClass]="{active: selectedTab === 'events'}">Events</a></li>
      </ul>
    </div>

    <!-- Basic Information -->
    <div class="row" *ngIf="selectedTab === 'info'">
      <div class="input-field col s6">
        <input id="key" [(ngModel)]="actor.key" type="text" required class="validate" data-length="64">
        <label for="key" class="active">Key</label>
      </div>
      <div class="input-field col s6">
        <input id="name" [(ngModel)]="actor.name" type="text" required class="validate" data-length="128">
        <label for="name" class="active">Actor Name</label>
      </div>
    </div>
    <div class="row" *ngIf="selectedTab === 'info'">
      <div class="col s6">
        <mat-form-field>
          <mat-select [(ngModel)]="actor.startRoom" style="width: 100%;" placeholder="Start Room">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let key of roomKeys" [value]="key">{{key}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!--<p-dropdown [options]="roomKeys" [(ngModel)]="actor.startRoom" optionLabel="Start Room"></p-dropdown>-->

        <!--<select id="startRoom" style="width: 100%;" [ngModel]="actor.startRoom">-->
          <!--<option [ngValue]="null" [selected]="!actor.startRoom">Nowhere</option>-->
          <!--<option *ngFor="let room of story.rooms" [ngValue]="room.key" [selected]="room.key === actor.startRoom">{{room.key}}</option>-->
        <!--</select>-->
        <!--<label for="startRoom" class="active">Start Room (Key)</label>-->
      </div>
      <div class="switch col s6">
          <label>
            NPC
            <input type="checkbox" [(ngModel)]="actor.isPlayer">
            <span class="lever"></span>
            Player
          </label>
        </div>
    </div>

    <!-- Collections go here -->
    <if-attributes-list [entity]="actor" *ngIf="selectedTab === 'attributes'"></if-attributes-list>
    <if-contents-list [entity]="actor" *ngIf="selectedTab === 'objects'"></if-contents-list>
    <if-verbs-list [entity]="actor" *ngIf="selectedTab === 'verbs'"></if-verbs-list>
    <if-aliases-list [entity]="actor" *ngIf="selectedTab === 'aliases'"></if-aliases-list>
    <if-events-list [entity]="actor" *ngIf="selectedTab === 'events'"></if-events-list>

  </div>
  <div class="card-action">
    <if-editor-card-commands [entity]="actor" [selectedTab]="selectedTab"></if-editor-card-commands>
  </div>
</div>
