<span class="ui-float-label my-2">

  <input #parserInput
         autofocus
         id="parserInput"
         type="text"
         pInputText
         data-tooltip="Type a command (e.g. 'Go West' or 'Look at squirrel') and hit enter."
         data-position="top"
         data-delay="750"
         class="wide-load tooltipped"
         (keyup.enter)="parseInput(parserInput.value); parserInput.value = '';">

    <label for="parserInput" class="text-info">What do you want to do?</label>

</span>
