<div class="container full-height">

  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" class="bg-dark">
  </p-confirmDialog>

  <div class="full-height py-4">
    <div class="card card-outline-secondary full-height" >
      <div class="card-header">
        <p class="h4"><span class="fa fa-fw {{icon}}"></span><span class="ml-2">{{title}}</span></p>
      </div>

      <if-game-state-header></if-game-state-header>

      <div class="card-body bg-dark text-white" #scrollMe style="overflow-y: auto;">
        <if-line-renderer *ngFor="let line of lines" [line]="line"></if-line-renderer>
      </div>

      <div class="card-footer">
        <if-command-area></if-command-area>
      </div>
    </div>
  </div>

</div>
