<div style="overflow-y: auto;" class="panel-bg z-depth-1" (window:resize)="onResize()" [style.height.px]="sidebarHeight">
  <div class="collection with-header" style="margin-top: -2px; margin-bottom: -2px;">

    <!-- High-Level Information -->
    <div class="collection-header">General</div>
    <div>
      <a class="collection-item"
         (click)="onStoryInfoClick()"
         [ngClass]="{active: selectedNode === story}">Story Info</a>
      <a class="collection-item"
         (click)="onStringsClick()"
         [ngClass]="{active: selectedNode === story.strings}">String Resources</a>
      <a class="collection-item"
         (click)="onJSONClick()"
         [ngClass]="{active: selectedNode === this.json}">JSON</a>
    </div>

    <!-- Actors -->
    <div class="collection-header">
      Actors
      <span class="badge" [ngClass]="{'blue darken-3 white-text': story.actors.length > 0}" data-badge-caption="actors">{{story.actors.length}}</span>
      <a (click)="onAddActorClick()" class="secondary-content white-text"><i class="material-icons">add</i></a>
    </div>
    <div *ngFor="let actor of story.actors | entitySort">
      <a class="collection-item"
         [ngClass]="{active: selectedNode === actor}"
         (click)="onActorClick(actor)">
        <span class="badge" [ngClass]="{'blue darken-1 white-text': actor.contents.length > 0}"
              data-badge-caption="items">{{actor.contents.length}}</span>
        {{actor.key}}
      </a>
      <!--<a class="collection-item indent"-->
      <!--*ngFor="let obj of actor.contents"-->
      <!--[ngClass]="{active: selectedNode === obj}"-->
      <!--(click)="onObjectClick(obj)"><span>{{obj.key}}</span></a>-->
    </div>

    <!-- Rooms -->
    <div class="collection-header">
      Rooms
      <span class="badge" [ngClass]="{'blue darken-3 white-text': story.rooms.length > 0}" data-badge-caption="rooms">{{story.rooms.length}}</span>
      <a (click)="onAddRoomClick()" class="secondary-content white-text"><i class="material-icons">add</i></a>
    </div>
    <div *ngFor="let room of story.rooms | entitySort">
      <a class="collection-item"
         [ngClass]="{active: selectedNode === room}"
         (click)="onRoomClick(room)">
        <span class="badge" [ngClass]="{'blue darken-1 white-text': room.contents.length > 0}"
              data-badge-caption="objects">{{room.contents.length}}</span>
        {{room.key}}
      </a>
      <!--<a *ngFor="let obj of room.contents"-->
      <!--class="collection-item indent"-->
      <!--[ngClass]="{active: selectedNode === obj}"-->
      <!--(click)="onObjectClick(obj)"><span>{{obj.key}}</span></a>-->
    </div>
  </div>
</div>
