<mat-expansion-panel class="hoverable">
  <mat-expansion-panel-header >
    <mat-panel-title>
      <div class="valign-wrapper">
        <span style="margin-right: 1rem;">Entity:</span>
        <if-entity-reference [entity]="entity"></if-entity-reference>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="card">

    <div class="card-content">

      <div *ngIf="entity.contents.length > 0" class="right" style="width: 300px;">
        <span class="right-align" style="width: 100px;"><strong>Contents:</strong></span>
        <!--TODO: <p-tree [value]="contentNodes"></p-tree>-->
      </div>

      <dl>

        <dt>Parent</dt>
        <dd>
          <if-entity-reference *ngIf="entity.parent" [entity]="entity.parent"></if-entity-reference>
          <span *ngIf="!entity.parent" class="grey-text small-text">(None)</span>
        </dd>

        <dt>Verbs</dt>
        <dd>
          <div *ngIf="entity.verbs" class="valign-wrapper">
            <span *ngFor="let atr of entity.verbs | kvp" class="chip small-text red white-text z-depth-1">
              {{atr.key}}
            </span>
          </div>
        </dd>

        <dt>Attributes</dt>
        <dd>
          <div *ngIf="entity.attributes" class="valign-wrapper">
            <span *ngFor="let atr of entity.attributes | kvp" class="chip small-text cyan white-text z-depth-1">
              <span>{{atr.key}}:</span>
              <span>{{atr.value}}</span>
            </span>
          </div>
        </dd>

        <dt>Events</dt>
        <dd>
          <div *ngIf="entity.events" class="valign-wrapper">
            <span *ngFor="let e of entity.events | kvp" class="chip small-text amber white-text z-depth-1">
              {{e.key}}
            </span>
          </div>
        </dd>
      </dl>

    </div>

  </div>

</mat-expansion-panel>
