<div class="card mb-3">

  <div class="card-header text-capitalize">
    Entity: {{entity.that}}
  </div>

  <div class="card-body p-0 pt-3">
    <dl>

      <dt>Description</dt>
      <dd>
        <blockquote class="blockquote">
          <p class="mb-0"><small>{{entity.description}}</small></p>
        </blockquote>
      </dd>

      <dt>Parent</dt>
      <dd>
        <if-entity-reference *ngIf="entity.parent" [entity]="entity.parent"></if-entity-reference>
        <span *ngIf="!entity.parent" class="text-muted small">(None)</span>
      </dd>

      <dt class="my-2">Contents</dt>
      <dd class="my-2">
        <div *ngIf="entity.contents.length > 0">
          <p-tree [value]="contentNodes"></p-tree>
        </div>
        <span *ngIf="entity.contents.length < 1" class="text-muted small">(None)</span>

      </dd>

    </dl>
  </div>

</div>
