<div class="card accent-bg white-text">


  <div class="card-content">
    <dl>

      <dt>Subject</dt>
      <dd>
        <if-token *ngIf="command.subject" [token]="command.subject" [includeModifiers]="true" [includeEntity]="true"></if-token>
        <span *ngIf="!command.subject" class="text-muted small">(None)</span>
      </dd>

      <dt>Verb</dt>
      <dd>
        <if-token *ngIf="command.verb" [token]="command.verb" [includeModifiers]="true" [includeEntity]="true"></if-token>
        <span *ngIf="!command.verb" class="text-muted small">(None)</span>
      </dd>

      <dt>Objects</dt>
      <dd>
        <div *ngFor="let obj of command.objects">
          <if-token [token]="obj" [includeModifiers]="true" [includeEntity]="true"></if-token>
        </div>
        <span *ngIf="command.objects.length < 1" class="text-muted small">(None)</span>
      </dd>

      <dt>Prepositions</dt>
      <dd>
        <div *ngFor="let prepKvp of command.prepositions | kvp" class="mb-1">
          <if-token [token]="prepKvp.value" [includeModifiers]="true" [includeEntity]="true"></if-token>
          <if-token *ngIf="prepKvp.value.modifies" [token]="prepKvp.value.modifies" [includeModifiers]="false" [includeEntity]="true"></if-token>
          <span *ngIf="!prepKvp.value.modifies" class="text-muted small">(None)</span>
        </div>
        <span *ngIf="!command.hasPrepositions" class="text-muted small">(None)</span>
      </dd>

    </dl>
  </div>

  <div class="card-actions theme-bg valign-wrapper" style="min-height: 42px;">
    <dl>
        <dt>All Tokens</dt>
        <dd>
          <if-token *ngFor="let t of command.tokens" [token]="t"></if-token>
        </dd>
    </dl>     
  </div>

</div>
