<ul id="dropdownAdd" class="dropdown-content">
    <li><a href="#!">Actor</a></li>
    <li><a href="#!">Room</a></li>
    <li><a href="#!">Object</a></li>
    <li><a href="#!">Attribute</a></li>
    <li><a href="#!">Alias</a></li>
    <li><a href="#!">Event</a></li>
  </ul>
<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a (click)="onHomeClick()" style="margin-left: 2rem; margin-right: 0rem; font-size: 150%; font-weight: bold;" class="white-text">IF Edit</a>
      <a (click)="onStoryClick()" class="breadcrumb">Story</a>
      <span class="breadcrumb">Rooms</span>
      <a href="#!" class="breadcrumb">Pit of despair</a>
      <ul class="right">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdownAdd"><i class="material-icons left">add</i>Add<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
</nav>