<ul id="dropdownAdd" class="dropdown-content">
    <li *ngIf="canAddActor"><a (click)="onAddActorClick()">Actor</a></li>
    <li *ngIf="canAddRoom"><a (click)="onAddRoomClick()">Room</a></li>
    <li *ngIf="canAddObject"><a (click)="onAddObjectClick()">Object</a></li>
    <li *ngIf="canAddVerb"><a (click)="onAddVerbClick()">Verb</a></li>
    <li *ngIf="canAddAttribute"><a (click)="onAddAttributeClick()">Attribute</a></li>
    <li *ngIf="canAddEvent"><a (click)="onAddEventClick()">Event</a></li>
    <li *ngIf="canAddAlias"><a (click)="onAddAliasClick()">Alias</a></li>
  </ul>
<nav>
  <div class="nav-wrapper">
    <div class="col s12">


      <a (click)="onHomeClick()" style="margin-left: 2rem; margin-right: 0rem; font-size: 150%; font-weight: bold;" class="white-text">IF Edit</a>
      <a *ngFor="let crumb of breadcrumbs" 
         class="breadcrumb"
         (click)="onBreadcrumbClick(crumb);">
         {{getBreadcrumbName(crumb)}}
      </a>
      <ul class="right">
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-button" data-activates="dropdownAdd">
            Add
            <i class="material-icons right">arrow_drop_down</i>
            <i class="material-icons left">add</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>