<div [ngClass]="{card: renderAsCard, 'content-bg': renderAsCard}">
  <div [ngClass]="{'card-content': renderAsCard}">
    <div class="card-header" *ngIf="renderAsCard">
      <h4>{{dir.key}}</h4>
    </div>

    <mat-form-field>
      <mat-select [(ngModel)]="dir.room" style="width: 100%;" placeholder="Target Room">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let key of roomKeys" [value]="key">{{key}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="input-field">
      <input id="go" type="text" [(ngModel)]="dir.goMessage">
      <label for="go" class="active">Go Message</label>
    </div>

    <div class="input-field">
      <input id="look" type="text" [(ngModel)]="dir.lookMessage">
      <label for="go" class="active">Look Message</label>
    </div>

    <div class="input-field">
      <input id="alias" type="text" [(ngModel)]="dir.aliases">
      <label for="go" class="active">Aliases</label>
    </div>

  </div>
</div>
