@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/*@import './assets/material.css';*/

/* You can add global styles to this file, and also import other style files */
html, body, head {
  height: 100%;
}

.full-height {
  height: 100%;
  min-height: 100%;
}

.wide-load {
  width: 100%;
}

/* Definition lists should render in a more horizontal mode */
dl {
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
}

.inferred {
  opacity: 0.5;
}

.badge.small {
  font-size: 55%;
  vertical-align: text-top;
}

h1 {
  font-size: 2.75em;
  margin-top: 12px;
  margin-bottom: 12px;
}

h2 {
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
}

.theme-text {
  color: #37474f;
}

.accent-text {
  color: #708090;
}

.warn-text {
  color: #f44336;
}

.theme-bg {
  background: #37474f;
}

.accent-bg {
  background: #708090;
}

.warn-bg {
  background: #f44336;
}

.content-bg {
  background: #343a40;
}

.panel-bg {
  background: #424242;
}

.small-text {
  font-size: 75%;
}

.chip.small-text {
  height: 20px;
  line-height: 20px;
}
