<div *ngFor="let item of responseItems">
    <div [ngSwitch]="getItemType(item)">

        <blockquote *ngSwitchCase="'string'">
            <if-md [text]="item"></if-md>
        </blockquote>

        <div *ngSwitchCase="'invoke'"
             class="chip orange accent-2 tooltipped"
             data-tooltip="invoke a method">

            <i class="material-icons tiny" alt="Invoke">call_made</i>   
            Call <code>{{item.invoke}}</code>

        </div>

        <span *ngSwitchDefault class="warn-text">No handler for {{getItemType(item)}}.</span>
    </div>
</div>