<mat-expansion-panel class="hoverable">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="valign-wrapper">
        <span style="margin-right: 1rem;">Token:</span>
        <if-token [token]="token" [includeEntity]="false" [includeModifiers]="false" [autoSize]="false"></if-token>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="card blue-grey darken-2 white-text">

    <div class="card-content">
      <dl>

        <dt>Classification</dt>
        <dd>
          {{token.classification}}
        </dd>

        <dt>Entity</dt>
        <dd>
          <if-entity-reference *ngIf="token.entity" [entity]="token.entity"></if-entity-reference>
          <span *ngIf="!token.entity" class="grey-text small-text">(None)</span>
        </dd>

        <dt>Tags</dt>
        <dd>
          <div *ngFor="let tag of token.term.tags">
            <span class="chip accent-bg white-text z-depth-1" *ngIf="tag === token.term.bestTag">{{tag}}</span>
            <span class="chip theme-bg white-text z-depth-1" *ngIf="tag !== token.term.bestTag">{{tag}}</span>
          </div>
          <span *ngIf="token.term.tags.length < 1" class="grey-text small-text">(None)</span>
        </dd>

        <dt>Modifies</dt>
        <dd>
          <if-token *ngIf="token.modifies" [token]="token.modifies" [includeModifiers]="false" [includeEntity]="true" [autoSize]="false"></if-token>
          <span *ngIf="!token.modifies" class="grey-text small-text">(None)</span>
        </dd>

        <dt>Modified By</dt>
        <dd>
          <div *ngFor="let token of token.modifiedBy">
            <if-token [token]="token" [includeModifiers]="false" [includeEntity]="true" [autoSize]="false"></if-token>
          </div>
          <span *ngIf="token.modifiedBy.length < 1" class="grey-text small-text">(None)</span>
        </dd>

      </dl>
    </div>

  </div>

</mat-expansion-panel>
